@model Parcelas

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Parcelas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimentoParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimentoParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Juros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Juros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amortizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amortizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emprestimo.EmprestimoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ParcelaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
