@model EmpresteFacil.Models.Parcelas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parcelas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimentoParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimentoParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Juros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Juros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amortizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amortizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emprestimo.EmprestimoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ParcelaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
