@model EmpresteFacil.Models.Entities.PessoaFisica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PessoaFisica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrauEscolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrauEscolaridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneFixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneFixo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsuarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
