@model IEnumerable<EmpresteFacil.Models.LoanRequest>

@{
    ViewData["Title"] = "Index";
}

@*TODO: modificar para apenas pedidos do usuário atual*@
<h1>Visualização de pedidos de empréstimo (Todos os usuários)</h1>

<p>
    <a asp-action="Create">Criar um novo pedido de emprestimo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar informações</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Cancelar pedido</a>
            </td>
        </tr>
}
    </tbody>
</table>
